POSTGRES_HOST=...
POSTGRES_DB=...
POSTGRES_USER=...
POSTGRES_PASSWORD=...
POSTGRES_PORT=...

OPEN_GOVERMENT_API_KEY=...

# LLM (요약 기능용)
OPENAI_API_KEY=...

# Elasticsearch (벡터 검색용)
ELASTICSEARCH_HOST=localhost
ELASTICSEARCH_PORT=9200